.skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 80px;
}

.skills-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: solid 1px #FBFCFF;
    border-radius: 20px;
    height: 700px;
    margin: 50px 0px;
}

.skills-title-row,
.skills-lenguages-row,
.skills-frameworks-row {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    font-size: 1.05rem;
}

.skills-left-column,
.skills-center-column,
.skills-right-column {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 300px;
}

.skills-center-column {
    border-left: solid 1px #FBFCFF;
    border-right: solid 1px #FBFCFF;
}

.skills-description {
    width: 240px;
}

.title-img {
    width: 65px;
    height: 65px;
    margin: 2px;
}

/* Small Screens */
@media (max-width: 1500px) { 
    .skills-title-row,
    .skills-lenguages-row,
    .skills-frameworks-row {
        font-size: 0.9rem;
    }

    .skills-title-row .subtitle {
        margin-top: 5px;
        margin-bottom: 12px;
    }
}


/* Phone Screens */
@media (max-width: 1300px) { 
    .skills {
        padding: 0px;
    }
    
    .skills-container {
        flex-direction: column;
        height: auto;
        margin-bottom: 0px;
    }

    .skills-center-column {
        border: solid 1px #FBFCFF;
        border-left: none;
        border-right: none;
    }

    .skills-left-column,
    .skills-center-column,
    .skills-right-column {
        height: 550px;
    }

    .skills-title-row,
    .skills-lenguages-row,
    .skills-frameworks-row {
        font-size: 0.9rem;
    }

    .hidden-content {
        display: none;
    }

    .skills-title-row .subtitle {
        margin-top: 5px;
        margin-bottom: 12px;
    }
}