/* Phone Screens */
@media (max-width: 1300px) {
    .home {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0px;
    }

    .main-title-container {
        display: flex;
        align-items: center;
        width: 100%;
    }
}