.header-position {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100vw;
    height: 50px;
    z-index: 10;
}

.header-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 100px;
    background-color: #050505D0;
    z-index: 9;
}



/* Phone Screens */
@media (max-width: 1300px) { 
    .header-card {
        padding: 0vh 2vw;
        background-color: #050505;
    }

    .header-right-container a {
        margin: 0px 0px 0px 40px;
    }
}