@import '../../../styles/colors.module.scss';

.headerContainer {
    background-color: $translucentDark;
    padding: 10px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar {
    display: flex;
    justify-content: center;
    gap: 35px;
}

.navbarItem {
    position: relative;
    text-decoration: none;
    color: $primary;
    cursor: pointer;
    transition: .3s;
    padding: 10px 20px;
    font-family: cinzel;
    font-size: 18px;
    letter-spacing: 2px;

    &:hover {
        color: $navbarHoverColor;
    }

    &:after {
        background: none repeat scroll 0 0 transparent;
        bottom: 0;
        content: "";
        display: block;
        height: 1px;
        left: 50%;
        position: absolute;
        background: $navbarHoverColor;
        transition: width 0.3s ease 0s, left 0.3s ease 0s;
        width: 0;
    }

    &:focus {
        outline: 0;
    }

    &:focus:after,
    &:hover:after {
        width: 100%;
        left: 0;
    }
}


.svg {
    margin: 0px 25px;
    stroke: 10;
    stroke: $primary;
    outline: 0;
    fill: transparent;
}

.homeSvg {
    @extend .svg;

    path {
        stroke-dasharray: 1510;
        stroke-dashoffset: 0;
    }

    &:focus path,
    &:hover path {
        animation: animate-home .6s linear forwards;
        outline: 0;
    }
}

.githubSvg {
    @extend .svg;

    path {
        stroke-dasharray: 190;
        stroke-dashoffset: 0;
    }

    &:focus path,
    &:hover path {
        animation: animate-github .6s linear forwards;
        outline: 0;
    }
}

.linkedinSvg {
    @extend .svg;

    path {
        stroke-dasharray: 1800;
        stroke-dashoffset: 0;
    }

    &:focus path,
    &:hover path {
        animation: animate-linkedin .6s linear forwards;
        outline: 0;
    }
}

@keyframes animate-home {
    0% {
        stroke-dashoffset: 0;
    }

    40% {
        stroke-dashoffset: 1510;
    }

    80% {
        stroke-dashoffset: 3020;
        fill: transparent;
    }

    100% {
        stroke-dashoffset: 3020;
        fill: $primary;
    }
}

@keyframes animate-linkedin {
    0% {
        stroke-dashoffset: 0;
    }

    40% {
        stroke-dashoffset: 1800;
    }

    80% {
        stroke-dashoffset: 3600;
        fill: transparent;
    }

    100% {
        stroke-dashoffset: 3600;
        fill: $primary;
    }
}

@keyframes animate-github {
    0% {
        stroke-dashoffset: 0;
    }

    40% {
        stroke-dashoffset: 190;
    }

    80% {
        stroke-dashoffset: 380;
        fill: transparent;
    }

    100% {
        stroke-dashoffset: 380;
        fill: $primary;
    }
}