@import '../../../styles/colors.module.scss';

.headerContainer {
    background-color: $translucentBackgorund;
    padding: 15px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar {
    display: flex;
    justify-content: center;
    gap: 35px;
}

.navbarItem {
    position: relative;
    text-decoration: none;
    cursor: pointer;
    transition: .3s;
    padding: 5px 10px;
    font-family: cinzelMedium;
    font-size: 18px;
    letter-spacing: 2px;

    &:hover {
        color: $navbarHoverColor;
    }

    &:after {
        background: none repeat scroll 0 0 transparent;
        bottom: 0;
        content: "";
        display: block;
        height: 1px;
        left: 50%;
        position: absolute;
        background: $navbarHoverColor;
        transition: width 0.3s ease 0s, left 0.3s ease 0s;
        width: 0;
    }

    &:focus {
        outline: 0;
    }

    &:focus:after,
    &:hover:after {
        width: 100%;
        left: 0;
    }
}

.navbarItemLight {
    @extend .navbarItem;
    color: $dark;
}

.navbarItemDark {
    @extend .navbarItem;
    color: $light;
}

.svg {
    margin: 0px 25px;
    stroke: 10;
    outline: 0;
    fill: transparent;
}

.homeSvg {
    @extend .svg;

    path {
        stroke-dasharray: 1510;
        stroke-dashoffset: 0;
    }
}

.homeSvgLight {
    @extend .homeSvg;

    stroke: $dark;

    &:focus path,
    &:hover path {
        animation: animateHomeLight .6s linear forwards;
        outline: 0;
    }
}

.homeSvgDark {
    @extend .homeSvg;

    stroke: $light;

    &:focus path,
    &:hover path {
        animation: animateHomeDark .6s linear forwards;
        outline: 0;
    }
}

.githubSvg {
    @extend .svg;

    path {
        stroke-dasharray: 190;
        stroke-dashoffset: 0;
    }
}

.githubSvgLight {
    @extend .githubSvg;

    stroke: $dark;

    &:focus path,
    &:hover path {
        animation: animateGithubLight .6s linear forwards;
        outline: 0;
    }
}

.githubSvgDark {
    @extend .githubSvg;

    stroke: $light;

    &:focus path,
    &:hover path {
        animation: animateGithubDark .6s linear forwards;
        outline: 0;
    }
}

.linkedinSvg {
    @extend .svg;

    path {
        stroke-dasharray: 1800;
        stroke-dashoffset: 0;
    }
}

.linkedinSvgLight {
    @extend .linkedinSvg;
    stroke: $dark;

    &:focus path,
    &:hover path {
        animation: animateLinkedinLight .6s linear forwards;
        outline: 0;
    }
}

.linkedinSvgDark {
    @extend .linkedinSvg;
    stroke: $light;

    &:focus path,
    &:hover path {
        animation: animateLinkedinDark .6s linear forwards;
        outline: 0;
    }
}

@keyframes animateHomeLight {
    0% {
        stroke-dashoffset: 0;
    }

    40% {
        stroke-dashoffset: 1510;
    }

    80% {
        stroke-dashoffset: 3020;
        fill: transparent;
    }

    100% {
        stroke-dashoffset: 3020;
        fill: $dark;
    }
}

@keyframes animateHomeDark {
    0% {
        stroke-dashoffset: 0;
    }

    40% {
        stroke-dashoffset: 1510;
    }

    80% {
        stroke-dashoffset: 3020;
        fill: transparent;
    }

    100% {
        stroke-dashoffset: 3020;
        fill: $light;
    }
}

@keyframes animateGithubLight {
    0% {
        stroke-dashoffset: 0;
    }

    40% {
        stroke-dashoffset: 190;
    }

    80% {
        stroke-dashoffset: 380;
        fill: transparent;
    }

    100% {
        stroke-dashoffset: 380;
        fill: $dark;
    }
}

@keyframes animateGithubDark {
    0% {
        stroke-dashoffset: 0;
    }

    40% {
        stroke-dashoffset: 190;
    }

    80% {
        stroke-dashoffset: 380;
        fill: transparent;
    }

    100% {
        stroke-dashoffset: 380;
        fill: $light;
    }
}

@keyframes animateLinkedinLight {
    0% {
        stroke-dashoffset: 0;
    }

    40% {
        stroke-dashoffset: 1800;
    }

    80% {
        stroke-dashoffset: 3600;
        fill: transparent;
    }

    100% {
        stroke-dashoffset: 3600;
        fill: $dark;
    }
}

@keyframes animateLinkedinDark{
    0% {
        stroke-dashoffset: 0;
    }

    40% {
        stroke-dashoffset: 1800;
    }

    80% {
        stroke-dashoffset: 3600;
        fill: transparent;
    }

    100% {
        stroke-dashoffset: 3600;
        fill: $light;
    }
}
