.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.footer-text {
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 40px;
}

/* Small Screens */
@media (max-width: 1500px) { 
    .footer-text {
        font-size: 0.9rem;
        margin-top: 20px;
        margin-bottom: 10px;
    }
}

/* Phone Screens */
@media (max-width: 1300px) { 
    .footer-text {
        font-size: 0.82rem;
        margin-top: 20px;
        margin-bottom: 10px;
    }
}