.footerContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    padding: 10px 3px;
    font-size: 16px;
    font-weight: 500;
}

.letterSpacing {
    letter-spacing: 2px;
}