$primary: #001c21;
$secondary: #3cffc8;
$tertiary: #8dd6c1;
$navbarHoverColor: #2B5054;
$light: #e8ecf2;
$dark: #0d0d0d;
$translucentBackgorund: transparent;
$black: #000000;
$white: #fbfcff;
$gray: #dddddd;
